body {
  background-color: #333;
  background-image: url("sunny_color-small.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  position: relative;
  float:left;
  margin-right:auto;
  margin-left:auto;
  font-family: Avenir, Helvetica, sansserif;
  font-size: 120px;
  font-weight:700;
  color:#333;
  text-shadow: 2px 2px #ddd;
}
