body {
  background-color: #333;
  background-image: url("sunny_color-small.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.hero-text {
//  align: center;
  font-size: 72px;
  max-width:80vw;
  color:#ddd;
  text-shadow: 2px 2px #333;
}
